/* SECCION BANNER */

body {
  padding-top: 20px;
  /* Ajusta esto al alto de tu barra de navegación */
}

.banner {
  width: 100%;
  height: 400px;
  background: url('../img/fondo_naranja.jpg') no-repeat center center;
  background-size: cover;
  position: relative;
  border-radius: 20px;
  /* Bordes redondeados */
  margin-top: 60px;
  /* Evita que el banner quede cubierto por la barra fija */
}

.banner-texto {
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  z-index: 2;
  text-align: left;
}

.banner-texto h1 {
  color: #252525;
  font-size: 3rem;
  line-height: 3rem;
  margin-bottom: 30px;
}

.banner-texto h5 {
  color: #252525;
  letter-spacing: 1px;
  margin-bottom: 11px;
  font-size: 1.5rem;
}

.banner-links {
  display: inline-block;
  margin-right: 10px;
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.banner-links:hover {
  text-decoration: underline;
}

.banner-modo {
  position: absolute;
  top: 10px;
  right: 20px;
}