/* SECCION FORMACION y EXPERIENCIA */

.acordeon-seccion {
  width: 90%;
  max-width: 1200px;
  margin: 50px auto;
  text-align: center;
}

.acordeon-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  margin-top: 30px;
}

.acordeon-columna h3 {
  margin-bottom: 20px;
  font-size: 24px;
}

.acordeon-item {
  margin-bottom: 15px;
}

.acordeon-boton {
  background-color: #f39c12; 
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  font-size: 18px;
  transition: background-color 0.3s;
  border-radius: 8px;
}

.acordeon-boton:hover {
  background-color: #cc6600; /* Naranja más oscuro al pasar el mouse */
}

.acordeon-contenido {
  padding: 0 18px;
  background-color: var(--color-fondo2);
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease, padding 0.4s ease;
  border-radius: 0 0 8px 8px;
}

.acordeon-contenido p {
  padding: 15px 0;
  margin: 0;
  text-align: left;
}
