/* SERIES */

.series-fila {
  display: flex;
  padding: 50px 20px 0px 20px;
}

.series-img {
  width: 600px;
  height: auto;
  border: solid #ffffff 5px;
  margin: 0px 30px;
}

.series-img:hover {
  opacity: 0.5;
  transition: 1000ms;
  transform: scale(0.9);
}

.series-btn {
  background-color: #4f4f4f;
  border: 0 none;
  border-radius: 5px;
  font-size: 13px;
  height: 42px;
  line-height: 42px;
  padding: 0 30px;
  display: inline-block;
  margin: 3px;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
}

.series-btn:hover {
  background-color: #f39c12;
}

.series-titulo {
  margin: 100px 10px 0px 10px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  color: #4f4f4f;
}

.series-subtitulo {
  margin: 1px 10px 5px 10px;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  color: #6a6a6a;
}

.series-tags {
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  margin: 0px 10px 10px 10px;
  font-weight: 600;
  color: #6a6a6a;
}
